<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="ScreenTime" Manufacturer="ScreenTime" Version="1.0.0.0"
             UpgradeCode="E8F3A1B2-4C5D-6E7F-8A9B-0C1D2E3F4A5B"
             InstallerVersion="500">

        <MajorUpgrade DowngradeErrorMessage="A newer version of ScreenTime is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="ScreenTime" Level="1">
            <ComponentRef Id="ServiceComponent" />
            <ComponentRef Id="LockScreenComponent" />
            <ComponentRef Id="ConfigComponent" />
            <ComponentRef Id="ConfigShortcut" />
        </Feature>

        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLFOLDER" Name="ScreenTime">
                <Directory Id="ServiceFolder" Name="Service">
                    <Component Id="ServiceComponent" Guid="B1C2D3E4-1111-2222-3333-444455556601">
                        <File Id="ServiceExe" Source="$(var.ServicePublishDir)\ScreenTime.Service.exe" KeyPath="yes" />
                        <ServiceInstall Id="ScreenTimeServiceInstall"
                                        Name="ScreenTimeService"
                                        DisplayName="ScreenTime Service"
                                        Description="Monitors and enforces screen time limits"
                                        Start="auto"
                                        Type="ownProcess"
                                        ErrorControl="normal"
                                        Account="LocalSystem" />
                        <ServiceControl Id="ScreenTimeServiceControl"
                                        Name="ScreenTimeService"
                                        Start="install"
                                        Stop="both"
                                        Remove="uninstall"
                                        Wait="yes" />
                        <ServiceConfig Id="ScreenTimeServiceConfig"
                                       ServiceName="ScreenTimeService"
                                       OnInstall="yes"
                                       OnReinstall="yes"
                                       FirstFailureActionType="restart"
                                       SecondFailureActionType="restart"
                                       ThirdFailureActionType="restart"
                                       RestartServiceDelayInSeconds="5"
                                       ResetPeriodInDays="1" />
                    </Component>
                </Directory>
                <Directory Id="LockScreenFolder" Name="LockScreen">
                    <Component Id="LockScreenComponent" Guid="B1C2D3E4-1111-2222-3333-444455556602">
                        <File Id="LockScreenExe" Source="$(var.LockScreenPublishDir)\ScreenTime.LockScreen.exe" KeyPath="yes" />
                    </Component>
                </Directory>
                <Directory Id="ConfigFolder" Name="Config">
                    <Component Id="ConfigComponent" Guid="B1C2D3E4-1111-2222-3333-444455556603">
                        <File Id="ConfigExe" Source="$(var.ConfigPublishDir)\ScreenTime.Config.exe" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>
        </StandardDirectory>

        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ScreenTimeMenuFolder" Name="ScreenTime">
                <Component Id="ConfigShortcut" Guid="B1C2D3E4-1111-2222-3333-444455556604">
                    <Shortcut Id="ConfigShortcutFile"
                              Name="ScreenTime Config"
                              Target="[ConfigFolder]ScreenTime.Config.exe"
                              WorkingDirectory="ConfigFolder" />
                    <RemoveFolder Id="RemoveMenuFolder" On="uninstall" />
                    <RegistryValue Root="HKCU" Key="Software\ScreenTime" Name="installed"
                                   Type="integer" Value="1" KeyPath="yes" />
                </Component>
            </Directory>
        </StandardDirectory>
    </Package>
</Wix>
